<header>
    <div class="container">
        <h2>Potepan Share</h2>
        <div class="header-functions">
            <%= link_to "新規登録", "#" %>
            <%= link_to "ログイン", "#" %>
        </div>
    </div>
</header>