<div class="first-view">
    <h1>Potepan Shareで<br>
        まだ体験したことのない<br>
        旅をしよう</h1>
    <div class="top-search">
        aaaaa
    </div>
</div>
<div class="recommend">
    <p>おすすめのエリア</p>
    <div class="areas">
        <%= link_to render("shared/area",  pic:"Tokyo.jpg", p1:"東京", p2:"Tokyo"), "#" %>
        <%= link_to render("shared/area",  pic:"Osaka.jpg", p1:"大阪", p2:"Osaka"), "#" %>
        <%= link_to render("shared/area",  pic:"Kyoto.jpg", p1:"京都", p2:"Kyoto"), "#" %>
        <%= link_to render("shared/area",  pic:"Sapporo.jpg", p1:"札幌", p2:"Sapporo"), "#" %>
    </div>
</div>