.reservation {
    margin:20px 0;
    font-size: 30px;
    font-weight: 500;
}

.confirm-wrapper {
    width: fit-content;
    margin: 0 auto;
    table {
        text-align: left;
        margin-bottom: 40px;
        th {
            padding-right: 100px;
        }
    }
    .confirm-button a {
        display: block;
        width: 400px;
        padding: 20px 0;
        text-align: center;
        text-decoration: none;
        border-radius: 10px;
        &:first-child {
            background-color: orange;
            color: white;
        }
        &:last-child {
            border: 1px solid black;
            color: black;
            margin: 20px 0 30px;
        }
    }
}