$accent-color: #f39800;
$room-color: #fff8dc;

.rooms-wrapper {
    display: flex;
    justify-content: left;
    gap: 2%;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.room-wrapper {
    width: 32%;       
    background-color: $room-color;
    border-radius: 15px;
    margin: 20px 0;        
    img {
        width: 100%;
        border-radius: 15px 15px 0 0;
    }           
}

.room {     
    padding: 20px;       
    h4 {
        margin: 0;
        padding: 0;
        color: #333;
        font-size: 25px;
        font-weight: 500;
    }
    .address {
        margin: 0;
        padding: 0;
        color: #333;
        font-size: 13px;
        font-weight: 500;
    }
    .detail {
        margin: 20px 0 30px;
        height: 70px;
        color: black;
        font-size: 16px;
        font-weight: 500;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3; 
    }
    .fee {
        margin: 0;
        padding: 0;
        color: $accent-color;
        font-size: 25px;
        font-weight: 500;
    }
    a {
        display: block;
        background-color: $accent-color;
        width: 100%;
        box-sizing: border-box;
        margin:10px 0 15px;
        padding: 15px 0;
        border-radius: 10px;
        color: white;
        text-align: center;
        text-decoration: none;
    }
}

.back-button {
    display: block;
    margin: 20px 0;
    font-size: 18px;
    color: blue;
    text-decoration: none;
}

.detail-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 50px;
    box-sizing: border-box;
    .room-icon {
        width: 40%;
        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }    
    .detail2 {
        display: flex;
        flex-direction: column;
        width: 50%;
        background-color: $room-color;
        padding: 20px;
        .room {
            padding: 0;
        }
        .detail3 {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }
}

.reserve-form {
    margin-top: 20px;
    .reserve-information {
        display: flex;
        justify-content: center;
        gap: 10px;
        .info-form input {
            padding: 10px;
            width: 100%;
            box-sizing: border-box;
            font-size: 15px;
        }
        .people input {
            font-size: 16px;
            padding: 12px;
        }
    }
    .actions input {
        display: block;
        width: 100%;
        margin: 20px 0;
        padding: 15px 0;
        border: 0;
        background-color: $accent-color;
        color: white;
        font-size: 20px;
        border-radius: 10px;
    }
}
