$accent-color: #f39800;
$base-color: #e0e0e0;

.form-wrapper {
    background-color: $base-color;
    overflow: hidden;
    .form {
        width: 400px;
        margin:80px auto;
        padding: 40px;
        background-color: white;       
        h2 {
            margin:0 0 20px 0;
            text-align: center;
            font-size: 25px;
            font-weight: 300;
        }
        input, textarea {
            width: 100%;
            box-sizing: border-box;
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid $base-color;
            font-size: 15px;
        }
        label {
            font-size: 15px;
        }
        .actions input {
            background-color: $accent-color;
            padding:15px 0;
            border: 0;
            border-radius: 10px;
            color: white;
            font-size: 15px;
        }
        a {
            display: block;
            padding:15px 0;
            border: 1px solid $base-color;
            border-radius: 10px;
            text-align: center;
            color: black;
            font-size: 15px;
            text-decoration: none;
        }
        .image input {
            border: 0;
        }
    }
}

.account-menu {
    h3 {
        margin: 30px 0;
        font-size: 25px;
        font-weight: 500;
    }
    .profile-wrapper {
        display: flex;
        justify-content: space-between;
        .profile-menu {
            table {
                width: 250px;
                border: 1px solid #ddd;
            }
            th {
                border: 1px solid #ddd;
                a {
                    padding: 20px 0 20px 20px;
                    border: 0;
                    font-weight: 500;
                    text-decoration: none;
                    color: black;
                }                 
            }
            .orange th a {
                color: $accent-color;
            }
        }
        .profile-data {
            width: 600px;
            .table-name {
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid #ddd;
                align-items: end;
                h3 {
                    margin: 0;
                    padding-bottom: 10px;                    
                }
                a {
                    margin: 0;
                    padding-bottom: 10px;
                    text-decoration: none;
                    color: blue;
                    font-size: 18px;
                }
            }
            table {
                position: relative;
                margin-bottom: 150px;
                th, td {
                    padding: 20px 0;
                    border: 0;
                    font-size: 15px;
                    font-weight: 500;
                    img {
                        width: 50px;
                        height: auto;
                        padding: 0;
                    }
                    input, textarea {
                        width: 100%;
                        box-sizing: border-box;
                        padding: 5px;
                        border: 1px solid #ccc;
                        font-size: 15px;
                    }
                    .icon-edit {
                        display: flex;
                        justify-content: start;
                        align-items: center;
                        gap: 20px;
                        input {
                            border: 0;
                        }
                    }
                    p {
                        font-size: 12px;
                        margin: 0;
                    }
                } 
            }
            .edit-buttons {
                display: flex;
                justify-content: end;
                gap: 20px;
                position: relative;
                right: 0;
                bottom: 140px;
                a {
                    display: block;
                    width: 110px;
                    padding: 12px 0;
                    text-align: center;
                    text-decoration: none;
                    color: black;
                    font-size: 15px;
                    border: 1px solid #888;
                    border-radius: 10px;
                }
                input {
                    width: 110px;
                    padding: 12px 0;
                    background-color: $accent-color;
                    text-align: center;
                    text-decoration: none;
                    color: white;
                    font-size: 15px;
                    font-weight: 600;
                    border: 0;
                    border-radius: 10px;
                }
            }
        }
    }
}